* {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

.servicess {
  font-size: 30px;
  font color: #000;
  text-align: center;
}
.jenis{
  background-color: #d8b4f8;
  width: 100%;
  height: 120px;
  position: fixed;
}

.jenis {
  text-align: center; 
  color: #4d4d4d;
  margin-top: 30px;
  align-content: center;
  background-color: #efbbcf;
  padding: 15px 10px 10px 10px;
  width: 100%;
  height: 50px;
}

.box-kiri,
.box-tegah,
.box-kanan,
.box-kiri,
.box-tengah {
  width: 300px;
  height: 350px;
  background-color: #e4e5db;
  text-align: center;
  padding: 50px 50px;
  margin: 70px 30px 30px 150px;
  border-radius: 10px;
  float: left;
}

.box-kiri:hover,
.box-tegah:hover,
.box-kanan:hover,
.box-kiri:hover,
.box-tengah:hover {
  background-color: #d8b4f8;
  color: white;
}

.box-jenis h3,
p {
  margin-top: 10px;
  margin-bottom: 13px;
  padding: 0px;
}










