* {
  margin: 0;
  padding: 0;
  font-family: Georgia;
}

body {
  background-color: #236969;
}
.menu {
  margin-left: 1400px;
  padding-top: 55px;
  font-size: 20px;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.menu ul li a:hover {
  color: #00DFA2;
  font-style: italic;
  font-size: 20px;
}
.banner {
  height: 100px;
  text-align: center;
  color: white;
}

.servicess {
  font-size: 30px;
  text-align: left ;
  padding-left: 30px;
}

.servicess button {
  margin-top: 30px;
  padding-left: 10px;
  width: 130px;
  border-radius: 10px;
  border: none;
  font-size: 40px;
}

.servicess button:hover {
  background-color: #CEFC86;
  border: 2px solid white;
  color: #533E85 ;
}

.jenis h1 {
  background-color: #43A680;
  width: 100%;
  height: 50px;
  text-align: center;
}

.jenis {
  text-align: center;
  color: #4d4d4d;
  margin-top: 40px;
  align-content: center;
  padding: 10px 5px 5px 10px;
  width: 100%;
  height: 60px;
}
 
.box-kiri,
.box-tegah,
.box-kanan,
.box-kiri,
.box-tengah {
  width: 350px;
  height: 350px;
  background-color: #CFFFDC;
  text-align: center;
  padding: 70px 70px;
  margin: 100px 30px 30px 300px;
  border-radius: 10px;
  float: left;
}

.box-kiri:hover,
.box-tegah:hover,
.box-kanan:hover,
.box-kiri:hover,
.box-tengah:hover {
  background-color: #A8DF8E;
  color: #557A46;
}

