* {
  margin: 0;
  padding: 0;
  font-family: Georgia;
}

.navigasi {
  background-color: #5b0888;
  width: 300%;
  height: 110px;
  position: fixed;
}

.logo {
  float: left;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 55px;
}  

.logo h1 {
  font-size: 70px;
  color: #A076F9;
}
.menu {
  margin-left: 1400px;
  padding-top: 55px;
  font-size: 20px;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.menu ul li a:hover {
  color: #ffcefe;
  font-style: italic;
  font-size: 20px;
}

.banner {
  background-color: #9d76c1;
  height: 900px;
  text-align: center;
  color: white;
}

.banner img {
  border-radius: 100px;
  height: 150px;
  border: 6px solid white;
  margin-top: 200px;
}

.banner h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 50px;
}

.banner p {
  font-size: 30px;
  color: #151965;
}
.banner button {
  margin-top: 60px;
  padding: 10px;
  width: 400px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
}

.banner button:hover {
  background-color: #d8b4f8;
  border: 1px solid #000;
  color: #331D2C;
}

h1 span:before {
  content: '';  
  animation: gerak infinite 8s ease;
  transform: translateY(-50%);
  color: #7a316f;
  font-size: 50px;
}

@keyframes gerak {
  0% {
    content: "SELAMAT DATANG DI JJ AC";
  }

  50% {
    content: "SEMOGA MEMBANTU";
  }

  100% {
    content: "TERIMAKASIH TELAH MENGUNJUNGI";
  } 
}

























