* {
    margin: 0;
    padding: 0;
    font-family: Georgia;
  }
  
  body {
    background-color: #FFC5C5;
  }

  .servicess {
    font-size: 30px;
    text-align: left ;
    padding-left: 30px;
  }
  
  .servicess button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 130px;
    border-radius: 10px;
    border: none;
    font-size: 40px;
  }
  
  .servicess button:hover {
    background-color: #A2678A;
    border: 2px solid white;
    color: #533E85 ;
  }

  .navigasi {
    background-color: #AF2655;
    width: 200%;
    height: 100px;
    color: #ED9ED6;
    position: fixed;
  }
  

  .logo {
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
  
  }
  
  .logo h1 {
    font-size: 40px;
  }
  .menu {
    margin-left: 1400px;
    padding-top: 55px;
    font-size: 20px;
  }
  
  .menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: white;
  }
  
  .menu ul li a:hover {
    color: #ffcefe;
    font-style: italic;
    font-size: 20px;
  }
  .banner {
    background-color: #FFC5C5;
    height: 100px;
    text-align: center;
    color: #C70039;
  }
  
  .banner img {
    border-radius: 50px;
    height: 150px;
    border: 3px solid white;
    margin-top: 200px;
  }
  
  .banner h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50px;
  }
  
  .banner button {
    margin-top: 60px;
    padding: 10px;
    width: 400px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
  }

  .banner p {
    font-size: 40px;
    color: #D67BFF;
  }
  
  .banner button:hover {
    background-color: #E19898;
    border: 1px solid white;
    color: #3F1D38;
  }
  
  h1 span:before {
    content: '';  
    animation: gerak infinite 8s ease;
    transform: translateY(-50%);
    color: #FF3FA4;
    font-size: 50px;
  }
  
  @keyframes gerak {
    0% {
      content: "SAYA KAYLA REYVANI JUNAIDI";
    }
  
    50% {
      content: "SAYA DARI KELAS X SIJA 1 ";
    }
  
    100% {
      content: "NO.ABSEN SAYA 10";
    } 
  }